﻿@page
@model booklistrazor.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" asp-page="Upsert">Create New Book</a>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
             {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                            @*@Html.DisplayNameFor(m=>m.Books.FirstOrDefault().Author)*@
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>

                    </tr>

                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => book.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => book.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m => book.ISBN)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@book.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Upsert" asp-route-id="@book.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>No book available!</p>
            }

        </form>
    </div>

</div>
