﻿@model Coupon
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Details Coupon</h2>
<br />

<form method="get" enctype="multipart/form-data">
    <div class="border backgroundWhite">


        <div class="col-12 border">
            @{
                var base64 = Convert.ToBase64String(Model.Pictures);
                var imgSrc = string.Format("data:image/jpg;base64, {0}", base64);
            }

            <img src="@imgSrc" height="100%" width="100%" />

        </div>

        <br />

        <input hidden asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Pictures" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" disabled id="projectImage" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CouponType" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CouponType" disabled asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Dicount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Dicount" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MinimumAmount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MinimumAmount" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="isActive" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="isActive" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DetailsAndBackToListButton" model="Model.Id"/>
            </div>
        </div>
    </div>
</form>