﻿@model Category
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Category Details</h2>
<br />

<form method="get" asp-action="Edit">
    <div class="border backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DetailsAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>