﻿@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Create";
}

<br />

<h2 class="text-info">Create Sub category</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border backgroundWhite row">

    <div class="col-8 border-right">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="SubCategory.Name" class="form-control" />
                </div>
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        <p>Existing Subcategories:</p>

        @if (Model.SubCategoryList.Count() > 0)
        {

            <div id="SubCategoryList">
                <ul class="list-group">
                </ul>
            </div>
        }
        else
        {
            <div class="text-center">No Sub Categories yet</div>
        }
    </div>

    
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategoryList").value;

            $list = $('#SubCategoryList');

            $.ajax({
                url: '/Admin/SubCategory/GetSubCategory/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group">')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>')
                    }
                    $list.append('</ul>')
                    
                }
            });
        }

        $(document).ready(function () {
            updateSubCategoryList();
        })

        $("#ddlCategoryList").on("change", function () {
            updateSubCategoryList();
        })

    </script>
}