﻿@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Details Sub category</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border backgroundWhite row">

    <div class="col-8 border-right">
        <form method="get" asp-action="Edit">
            <input type="hidden" asp-for="SubCategory.CategoryId" />
            <input type="hidden" asp-for="SubCategory.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" disabled asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="SubCategory.Name" disabled class="form-control" />
                </div>
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_DetailsAndBackToListButton" model="Model.SubCategory.Id" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @*<p>Existing Subcategories:</p>

        @if (Model.SubCategoryList.Count() > 0)
        {

            <div id="SubCategoryList">
                <ul class="list-group">
                </ul>
            </div>
        }
        else
        {
            <div class="text-center">No Sub Categories yet</div>
        }*@
    </div>


</div>